.app__header-navbar {
	height: 60px;
	background-color: white;
	padding: 5px 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 900px) {
		height: 50px;
		padding: 10px;
	}
}

.app__header-navbar-fixed {
	height: 60px;
	background-color: white;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	position: fixed;
	padding: 5px 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 900px) {
		height: 50px;
		padding: 10px;
	}
}

.app__header-logo {
	flex: 1;

	h1 {
		font-weight: 700;
		text-align: left;
		cursor: pointer;
		font-size: 40px;

		@media screen and (max-width: 900px) {
			font-size: 24px;
			margin-bottom: 0;
		}
	}
}

.app__header-icons {
	flex: 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 20px;

	div:nth-child(1),
	div:nth-child(2) {
		cursor: pointer;
		svg {
			font-size: 30px;

			@media screen and (max-width: 900px) {
				font-size: 25px;
			}
		}
	}

	div:nth-child(3) {
		margin-bottom: 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		column-gap: 5px;

		svg {
			font-size: 30px;
			color: black;

			@media screen and (max-width: 900px) {
				font-size: 25px;
			}
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 5px;
			margin-bottom: 0;

			li {
				list-style-type: none;
				font-size: 20px;

				p {
					margin-bottom: 0;
				}

				p.login:hover,
				p.register:hover {
					color: red;
				}
			}

			@media screen and (max-width: 900px) {
				display: none;
			}
		}
	}
}

.login-image {
	width: 40px;
	border-radius: 50%;
}
