.app__register {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
			center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.app__register-container {
	width: 40%;
	padding: 20px;
	background-color: white;

	h1 {
		font-size: 24px;
		font-weight: 500;
	}
}

.app__register-form {
	display: flex;
	flex-wrap: wrap;

	input {
		flex: 1;
		min-width: 40%;
		margin: 20px 10px 0px 0px;
		padding: 10px;
	}

	span {
		font-size: 12px;
		margin: 20px 0px;
		text-align: left;
	}

	div {
		width: 100%;
	}

	button {
		width: 30%;
		border: none;
		padding: 7px;
		background-color: black;
		color: white;
		font-weight: 600;
		font-size: 18px;
		cursor: pointer;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	}
}

.app__register-question {
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 20px;

	span {
		color: #8192bb;
		margin-left: 10px;
		font-size: 16px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
			font-weight: 500;
		}
	}
}
