.app__login-page {
	background-image: url("../../../assets/images/authBg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 660px;
	display: flex;
	align-items: center;
}

.app__login-container {
	width: 500px;
	background-color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 60px;
}

.app__login-signin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 22px;

	button {
		border: none;
		border-radius: 30px;
		color: white;
		letter-spacing: 1px;
		font-weight: 500;
		font-size: 22px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	}

	button:nth-child(1) {
		background-color: #df4930;
		padding: 8px 33px;
	}

	button:nth-child(2) {
		background-color: #1976d2;
		padding: 8px 25px;
	}
}

.app__login-divider {
	position: relative;

	div:nth-child(1) {
		background-color: rgb(212, 212, 212);
		width: 380px;
		height: 2px;
		margin: 10px 0;
	}

	div:nth-child(2) {
		border: 2px solid silver;
		background-color: white;
		padding: 5px 12px;
		position: absolute;
		top: -10px;
		right: 180px;
		font-size: 18px;
		font-weight: 700;
		border-radius: 50%;
	}
}

.app__login-form {
	display: flex;
	flex-direction: column;
	row-gap: 15px;

	input {
		width: 380px;
		border-radius: 30px;
		font-size: 18px;
	}

	button {
		border: none;
		border-radius: 30px;
		color: white;
		letter-spacing: 1px;
		font-weight: 500;
		font-size: 22px;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		background-color: #28a745;
		padding: 8px 24px;
	}
}

.app__login-question {
	font-size: 16px;
	letter-spacing: 1px;

	span {
		color: #8192bb;
		margin-left: 10px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
			font-weight: 500;
		}
	}
}

.error-text {
	color: red;
}
