.app__products {
	font-size: 20px;
	cursor: pointer;
	display: flex;
	margin-top: 50px;
}

.app__products-filter {
	display: flex;
	flex: 0.8;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: black;
	margin-left: 60px;
	margin-top: 20px;
	text-align: left;

	div.products-filter-container {
		margin-bottom: 50px;

		h6 {
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 12px;
		}

		div.products-filter-input {
			width: 180px;
			height: 32px;
			margin-bottom: 10px;
			border: 0.5px solid lightgray;
			display: flex;
			align-items: center;
			padding: 5px;

			input {
				border: none;
				width: 150px;
				&:focus-visible {
					outline: none;
				}
			}

			svg {
				color: gray;
				font-size: 16px;
			}
		}

		p {
			text-transform: capitalize;
			margin-bottom: 5px;

			&:hover {
				font-weight: 800;
			}
		}

		div.products-filter-price {
			display: flex;
			align-items: center;

			div.filter-min {
				position: relative;

				span {
					position: absolute;
					left: 8px;
					font-size: 18px;
					margin-bottom: 0;
					margin-top: 2px;
				}

				input {
					width: 80px;
					height: 28px;
					margin-right: 10px;
					padding: 5px 0px 5px 21px;
				}
			}

			p.dashed {
				margin-bottom: 0;
				margin-right: 10px;
				display: inline-block;
			}

			div.filter-max {
				position: relative;

				span {
					position: absolute;
					left: 8px;
					font-size: 18px;
					margin-bottom: 0;
					margin-top: 2px;
				}

				input {
					width: 80px;
					height: 28px;
					margin-right: 10px;
					padding: 5px 0px 5px 21px;
				}
			}

			button {
				background-color: black;
				color: white;
				font-size: 14px;
				font-weight: 600;
				border-radius: 4px;
				padding: 2px 10px;
				box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			}
		}

		select.products-filter-select {
			width: 150px;
			font-size: 18px;
		}
	}
}

.app__products-container {
	flex: 2.2;
	margin-right: 10px;

	div.app__products-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		row-gap: 60px;
		padding: 10px;
		margin-bottom: 60px;
	}
}

.product-card {
	width: 17rem;
	height: 350px;
	cursor: pointer;
	border: none;
	margin: 10px;
}

.product-card-img {
	background-image: var(--display-img);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 250px;

	&:hover {
		background-image: var(--hover-img);
	}
}

.product-card-body {
	display: flex;
	flex-direction: column;
}

.product-card-title {
	font-size: 22px;
	font-weight: 500;
	text-align: left;
}

.product-card-subtitle {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	button {
		padding: 5px 8px;
		font-size: 15px;
		margin-right: 5px;
		border-radius: 5px;
		font-weight: 600;
		box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.5);
	}

	button:nth-child(1) {
		color: white;
		background-color: #000000;
		border: 2px solid white;
	}

	button:nth-child(2) {
		background-color: white;
		border: 2px solid black;
	}
}

.app__products-pagination {
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		font-size: 18px;
		font-weight: 500;
	}
}

.app__products-pagination button.Mui-selected,
.app__products-pagination button.Mui-selected:hover {
	background-color: black;
	color: white;
}
