.breadcrumb-item {
	display: flex;
	align-items: center;
}

.breadcrumb {
	justify-content: flex-start;
	margin: 20px 60px;
	font-size: 26px;
	font-weight: 500;
}

.app__breadcrumb-home {
	cursor: pointer;
	font-weight: 500;
	width: 100px;

	h5 {
		margin-bottom: 0;
	}
}

.app__breadcrumb-home:nth-of-type(2) {
	cursor: pointer;
	font-weight: 500;
	width: 130px;
}

.app__breadcrumb-home:nth-of-type(3) {
	cursor: pointer;
	font-weight: 500;
	width: 220px;
}
