.app__home-landing {
	width: 100%;
	height: 100vh;
	overflow: hidden;

	div {
		background-repeat: no-repeat;
		background-position: right;
		background-size: 700px;
		height: 600px;
		position: relative;

		div.landing-slide-content,
		div.landing-slide-collection {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			top: 0;
			left: 90px;
			bottom: 0;
			margin: auto;
			row-gap: 50px;
			z-index: 2;

			h1 {
				font-size: 70px;
			}

			p {
				font-size: 30px;
			}

			button.buy-now {
				padding: 10px 20px;
				font-size: 24px;
				background-color: black;
				color: white;
				border-radius: 8px;
				font-weight: 600;
				cursor: pointer;
				letter-spacing: 1px;
				box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);

				&:hover {
					background-color: white;
					border: 2px solid black;
					color: black;
				}
			}
		}

		@media screen and (max-width: 900px) {
			background-size: 400px;
			height: 60vh;

			div.landing-slide-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				row-gap: 25px;
				z-index: 2;

				h1 {
					font-size: 40px;
					background-color: rgba($color: white, $alpha: 0.8);
					border: 0.5px solid gray;
				}

				p {
					font-size: 18px;
					font-weight: 700;
					background-color: rgba($color: white, $alpha: 0.8);
					border: 0.5px solid gray;
					padding: 0 5px;
				}

				button.buy-now {
					padding: 5px 10px;
					font-size: 20px;
					background-color: black;
					color: white;
					border-radius: 8px;
					font-weight: 600;
					cursor: pointer;
					letter-spacing: 1px;
					box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);

					&:hover {
						background-color: white;
						border: 2px solid black;
						color: black;
					}
				}
			}
		}
	}

	div#landing-slide-1 {
		background-image: url("../../../assets/images/Slide1.jpeg");
	}

	div#landing-slide-2 {
		background-image: url("../../../assets/images/Slide2.jpeg");
	}

	div#landing-slide-3 {
		background-image: url("../../../assets/images/Slide3.jpeg");
		background-position: center;
		background-size: cover;

		div.landing-slide-overlay {
			background-color: rgba(0, 0, 0, 0.644);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		div.landing-slide-collection {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 30px;
			z-index: 2;

			@media screen and (max-width: 900px) {
				h1 {
					font-size: 40px;
				}

				p {
					font-size: 24px;
					font-weight: 700;
					padding: 0 5px;
				}
				button.buy-now {
					padding: 5px 10px;
					font-size: 20px;
					background-color: black;
					color: white;
					border-radius: 8px;
					font-weight: 600;
					cursor: pointer;
					letter-spacing: 1px;
					box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);

					&:hover {
						background-color: white;
						border: 2px solid black;
						color: black;
					}
				}
			}
		}
	}

	@media screen and (max-width: 900px) {
		width: 100%;
		height: 60vh;
	}
}

.app__category {
	display: flex;
	flex-direction: column;
	margin-top: 50px;

	h1.app__category-title {
		font-size: 50px;
		border: 2px dashed gray;
		padding: 5px 0;
		margin-bottom: 5px;

		@media screen and (max-width: 900px) {
			font-size: 40px;
		}
	}

	div.app__category-genre {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		margin: 0 25px;
		column-gap: 10px;

		div.app__category-item {
			flex: 1;
			text-align: center;
			margin: 5px;
			height: 70vh;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}

			@media screen and (max-width: 900px) {
				flex: 1;
				margin: 5px;
				height: 50vh;
				position: relative;

				img {
					width: 100%;
					height: 50vh;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		div.app__category-info {
			position: absolute;
			top: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;

			&:hover {
				background-color: rgba(0, 0, 0, 0.6);
				transition: all 0.9s;
				cursor: pointer;

				h1 {
					visibility: visible;
					transform: translateY(0%);
					transition: all 0.9s;
				}

				button {
					visibility: visible;
					transition: all 0.8s;
					transform: scale(100%);
				}
			}

			h1 {
				visibility: hidden;
				transform: translateY(100%);
				color: white;
				margin-bottom: 20px;
				font-weight: 500;
				letter-spacing: 1px;
				font-size: 70px;
			}

			button {
				visibility: hidden;
				transform: scale(0%);
				border: 2px solid black;
				border-radius: 8px;
				padding: 10px 20px;
				font-size: 18px;
				background-color: black;
				color: white;
				cursor: pointer;
				font-weight: 700;
				letter-spacing: 1px;
				&:hover {
					background-color: white;
					color: black;
				}
			}
		}

		@media screen and (max-width: 900px) {
			display: flex;
			flex-direction: column;
			padding: 5px;
			margin: 0 5px;
			row-gap: 5px;
		}
	}

	div.app__category-thing {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		flex-wrap: wrap;
		row-gap: 20px;
		margin: 0 25px;

		div.app__category-accessory {
			width: 300px;
			text-align: center;
			height: 70vh;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				background-color: #dbd9d9;
			}

			div.app__category-info {
				position: absolute;
				top: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
				&:hover {
					background-color: rgba(0, 0, 0, 0.5);
					transition: all 0.9s;
					cursor: pointer;

					h1 {
						visibility: visible;
						transform: translateY(0%);
						transition: all 0.9s;
					}

					button {
						visibility: visible;
						transition: all 0.8s;
						transform: scale(100%);
					}
				}

				h1 {
					visibility: hidden;
					transform: translateY(100%);
					text-transform: uppercase;
					color: white;
					margin-bottom: 20px;
					font-weight: 500;
					letter-spacing: 1px;
					font-size: 40px;
				}

				button {
					visibility: hidden;
					transform: scale(0%);
					border: 2px solid black;
					border-radius: 8px;
					padding: 10px 20px;
					font-size: 18px;
					background-color: black;
					color: white;
					cursor: pointer;
					font-weight: 700;
					letter-spacing: 1px;
					&:hover {
						background-color: white;
						color: black;
					}
				}
			}

			@media screen and (max-width: 900px) {
				flex: 1;
				margin: 5px;
				height: 50vh;
				position: relative;
				width: 350px;

				img {
					width: 100%;
					height: 50vh;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		@media screen and (max-width: 900px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 5px;
			margin: 0 5px;
			row-gap: 5px;
		}
	}
}

.app__gallery {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;

	h1.app__gallery-title {
		font-size: 50px;
		border: 2px dashed gray;
		padding: 5px 0;
		margin-bottom: 10px;

		@media screen and (max-width: 900px) {
			font-size: 40px;
		}
	}

	div.gallery-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	div.app__gallery-container {
		flex: 1;
		margin: 5px;
		min-width: 280px;
		height: 350px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #f5fbfd;
		position: relative;

		&:hover {
			opacity: 1;
		}

		div.app__gallery-circle {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background-color: white;
			position: absolute;
		}

		img {
			height: 75%;
			z-index: 2;
		}

		div.app__gallery-info {
			opacity: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.2);
			z-index: 3;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.5s ease;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			div.app__gallery-icon {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 10px;
				transition: all 0.5s ease;
				&:hover {
					background-color: #e9f5f5;
					transform: scale(1.1);
				}
			}
		}
	}
}

.app__view-all {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;

	button {
		padding: 10px 20px;
		border: none;
		border-radius: 8px;
		box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
		background-color: #5e5e5e;
		color: white;
		font-weight: 600;
		font-size: 20px;
		cursor: pointer;
		&:hover {
			color: #5e5e5e;
			background-color: #fff;
			border: 2px solid #5e5e5e;
			margin-bottom: -4px;
		}
	}
}

.app__news-letter {
	height: 60vh;
	background-color: #fcf5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;

	h1 {
		font-size: 70px;
		margin-bottom: 20px;
	}

	p {
		font-size: 24px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	div.app__news-letter-input {
		width: 50%;
		height: 40px;
		background-color: white;
		display: flex;
		justify-content: space-between;
		border: 1px solid lightgray;

		input {
			border: none;
			flex: 8;
			padding-left: 20px;
		}

		button {
			flex: 1;
			border: none;
			background-color: black;
			color: white;
			cursor: pointer;
		}
	}

	@media screen and (max-width: 900px) {
		h1 {
			font-size: 50px;
		}
		p {
			font-size: 20px;
		}
		input {
			padding-left: 10px;
		}
		button {
			padding: 0 5px;
		}
	}
}
