.app__footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px 20px;
	background-color: #f1f1f1;
	border-top: 2px dashed gray;

	@media screen and (max-width: 900px) {
		padding: 5px;
		flex-direction: column;
	}
}

.app__footer-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
	row-gap: 20px;
	justify-content: flex-start;
	align-items: flex-start;

	h1 {
		font-size: 50px;
		margin-bottom: 0;
		cursor: pointer;
	}

	p {
		font-size: 20px;
	}

	@media screen and (max-width: 900px) {
		p {
			font-size: 18px;
			text-align: left;
		}
		row-gap: 15px;
		padding: 5px;
	}
}

.footer-left-icons {
	display: flex;
	align-items: center;
	justify-content: center;

	div {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		cursor: pointer;
	}

	div:nth-child(1) {
		background-color: #3b5999;
	}
	div:nth-child(2) {
		background-color: #e4405f;
	}
	div:nth-child(3) {
		background-color: #55acee;
	}
	div:nth-child(4) {
		background-color: #e60023;
	}

	@media screen and (max-width: 900px) {
		margin-bottom: 10px;

		div {
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}

		svg {
			font-size: 20px;
		}
	}
}

.app__footer-center {
	flex: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	h3 {
		margin-bottom: 30px;
		font-size: 30px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		li {
			width: 50%;
			margin-bottom: 10px;
			font-size: 18px;
			text-align: left;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media screen and (max-width: 900px) {
		display: none;
	}
}

.app__footer-right {
	flex: 1;
	padding: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;

	h3 {
		font-size: 30px;
	}

	@media screen and (max-width: 900px) {
		border-top: 2px dashed black;
		margin-top: 10px;

		h3 {
			font-size: 24px;
		}
	}
}

.footer-right-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	row-gap: 10px;
	margin: 20px 0;

	svg {
		margin-right: 10px;
	}

	p {
		display: flex;
		align-items: center;
		font-size: 20px;
	}

	@media screen and (max-width: 900px) {
		p {
			font-size: 17px;
		}
	}
}

.footer-right-cards {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	cursor: pointer;

	img {
		max-width: 50px;
		margin-right: 10px;
	}

	@media screen and (max-width: 900px) {
		img {
			max-width: 32px;
			margin-right: 5px;
		}
	}
}
