.app__header-announcement {
	height: 30px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;

	@media screen and (max-width: 900px) {
		font-size: 12px;
		height: 24px;
	}
}
