.app__cart {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 100px;
	column-gap: 30px;
}

.app__cart-detail {
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
}

.app__cart-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	border: 4px double lightgrey;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	column-gap: 20px;
}

.app__cart-img {
	flex: 1;
	padding: 10px 5px;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 75%;
		max-height: 180px;
		object-fit: cover;
		object-position: center;
	}
}

.app__cart-info {
	flex: 2;
	padding: 10px;
	column-gap: 10px;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	div.app__cart-text {
		flex: 2;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		row-gap: 10px;

		h5 {
			font-size: 28px;
			text-align: left;
			letter-spacing: 1px;
			font-weight: 700;
		}

		p:nth-child(2) {
			margin-bottom: 0;
			text-align: left;
		}

		p:nth-child(3) {
			letter-spacing: 2px;
			font-size: 28px;
			font-weight: 500;
			margin-bottom: 0;
		}
	}
}

.app__cart-quantity {
	flex: 1;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	row-gap: 50px;

	div.quantity-container {
		flex: 1;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 20px;

		svg {
			font-size: 25px;
			cursor: pointer;
		}

		p {
			font-size: 26px;
			margin-bottom: 0;
		}
	}

	div.quantity-delete {
		border: none;
		background-color: transparent;
		transition: all ease-out 0.5s;
		&:hover {
			transform: scale(1.2);
		}

		svg {
			font-size: 35px;
			cursor: pointer;
		}
	}
}

.app__cart-total {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border: 1px solid gray;
	row-gap: 30px;
	padding: 30px;

	div.cart-total-title {
		width: 100%;
		text-align: left;
		border-bottom: 2px dashed lightgrey;

		h3 {
			font-weight: 600;
			letter-spacing: 3px;
		}
	}

	div.cart-total-price {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 50px;

		p:nth-of-type(1) {
			font-size: 28px;
			letter-spacing: 2px;
			margin-bottom: 0;
		}

		p:nth-of-type(2) {
			font-size: 28px;
			letter-spacing: 2px;
			margin-bottom: 0;
			font-weight: 600;
		}
	}

	div.cart-total-button {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			background-color: black;
			color: white;
			border-radius: 5px;
			padding: 5px 15px;
			font-size: 25px;
			font-weight: 600;
			letter-spacing: 1px;
			border: 2px solid black;
			box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
			&:hover {
				background-color: white;
				color: black;
				border: 2px dashed black;
			}
			&:active {
				margin: 3px -2px -3px 2px;
				box-shadow: none;
			}
		}
	}
}
