.app__detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.app__detail-single {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 60px;
	column-gap: 50px;

	div.app__detail-img {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 10px;

		img {
			width: 70%;
			height: 300px;
			object-fit: cover;
			object-position: center;
			cursor: pointer;
		}

		div.detail-img-row {
			display: flex;
			flex-direction: row;
			column-gap: 10px;
			align-items: center;

			div {
				width: 110px;
				height: 110px;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
	}

	div.app__item-detail {
		flex: 2;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		row-gap: 10px;

		h4 {
			font-size: 40px;
			font-weight: 700;
		}

		p:nth-of-type(1) {
			font-size: 18px;
			font-weight: 500;
			color: gray;
			margin-bottom: 0;
		}

		div.item-detail-desc {
			text-align: justify;
			margin-right: 20px;

			p {
				font-size: 18px;
				margin-bottom: 0;
				color: black;
			}
		}

		p:nth-of-type(2) {
			color: red;
			font-size: 30px;
			font-weight: 800;
			letter-spacing: 1px;
		}

		div.item-count {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			div.item-count-action {
				display: flex;
				align-items: center;
				width: 100px;
				justify-content: space-between;

				svg {
					font-size: 25px;
					cursor: pointer;
				}

				p {
					font-size: 25px;
					color: black;
				}
			}
		}

		div.item-button {
			display: flex;
			align-items: center;

			button {
				background-color: black;
				border: 2px solid black;
				color: white;
				font-size: 18px;
				font-weight: 600;
				padding: 10px 20px;
				box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
				cursor: pointer;
				&:hover {
					background-color: white;
					color: black;
					font-weight: 600;
				}
				&:active {
					margin: 2px -2px -2px 2px;
					box-shadow: none;
				}
			}
		}
	}
}

.app__detail-desc {
	display: flex;
	flex-direction: column;
	margin: 60px;
	row-gap: 20px;
	z-index: 10;

	h4 {
		font-weight: 600;
		text-align: left;
	}

	p {
		text-align: justify;
	}

	div.img-container {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 40%;
			object-fit: cover;
			object-position: center;
		}
	}

	div.button-container {
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			background-color: black;
			border: 2px solid black;
			color: white;
			font-size: 18px;
			font-weight: 600;
			padding: 8px 15px;
			box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
			letter-spacing: 1px;
			cursor: pointer;
			&:hover {
				background-color: white;
				color: black;
				font-weight: 600;
				border: 2px solid black;
			}
			&:active {
				margin: 2px -2px -2px 2px;
				box-shadow: none;
				border: 2px solid black;
			}
		}
	}
}

.app__related {
	display: flex;
	flex-direction: column;
	margin: 40px 60px;
	row-gap: 20px;
	z-index: 10;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;

	div.title-container {
		width: 100%;
		text-align: left;

		h4 {
			font-weight: 600;
		}
	}

	div.related-container {
		width: 200%;
		height: 250px;
		overflow: hidden;
		position: relative;

		div.inner-container {
			display: flex;
			align-items: center;
			height: 250px;
			justify-content: space-around;
			position: absolute;
			left: 0px;
			gap: 10px;
			&:hover {
				animation-play-state: paused;
			}

			div.each-img {
				display: flex;
				align-items: flex-start;
				justify-content: center;
				height: 100%;
				width: 250px;
				&:hover {
					transform: scale(1.5);
					cursor: pointer;
					border: 5px solid white;
				}

				img {
					object-fit: cover;
					object-position: center;
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}

@keyframes scroll {
	0% {
		left: 0;
	}
	100% {
		left: -100%;
	}
	0% {
		left: 0;
	}
}

.animate {
	animation: scroll 20s linear infinite;
}
